<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AdviseMe</servlet-name>
		<servlet-class>webapp.AdviseMeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdviseMe</servlet-name>
		<url-pattern>/adviseme</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addSchool</servlet-name>
		<servlet-class>webapp.addServlets.addSchoolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addSchool</servlet-name>
		<url-pattern>/addschool</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCollege</servlet-name>
		<servlet-class>webapp.addServlets.addCollegeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCollege</servlet-name>
		<url-pattern>/addcollege</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addDepartment</servlet-name>
		<servlet-class>webapp.addServlets.addDepartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDepartment</servlet-name>
		<url-pattern>/adddepartment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCourse</servlet-name>
		<servlet-class>webapp.addServlets.addCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCourse</servlet-name>
		<url-pattern>/addcourse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkFBUser</servlet-name>
		<servlet-class>webapp.addServlets.checkFBUserServlet</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>checkFBUser</servlet-name>
		<url-pattern>/checkfacebookuser</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>addFBUser</servlet-name>
		<servlet-class>webapp.addServlets.addFBUserServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>addFBUser</servlet-name>
		<url-pattern>/addfacebookuser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
